# =============== #
# Unity Generated #
# =============== #
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

# ========================= #
# Unity Specific Exclusions #
# ========================= #
/[Uu]ser[Ss]ettings/
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.swp
*.tmp
*.svd

# ======================== #
# Unity Plugin Exclusions #
# ======================== #
/Packages/com.unity.addressables/
*.apk
*.aab
*.ipa

# ==================== #
# Git LFS for Assets  #
# ==================== #
# Large binary files like models, textures, and audio should use LFS
*.psd
*.fbx
*.png
*.jpg
*.wav
*.mp3
*.ogg
*.mp4

# =============== #
# Visual Studio   #
# =============== #
.vs/

# ================= #
# JetBrains Rider  #
# ================= #
.idea/

# =============== #
# Mac Specific    #
# =============== #
.DS_Store
._*

# ================ #
# Windows Specific #
# ================ #
Thumbs.db
/python_backend/API_KEYS.py
/python_backend/__pycache__


# Build and Output Folders
bin/
obj/

# User-Specific Files
*.vscode/
*.vs/

# Rider Logs and Settings
*.iml
*.ipr
*.iws
out/

# Ignore compiled DLLs and executables
*.exe
*.dll
*.pdb

# Ignore temporary files
*.log
*.cache
*.bak

.venv/